* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
}

.container {
    text-align: center;
    width: 420px;
    background-image: linear-gradient(to right, #0d47a1, #1976d2);
    color: white;
    padding: 30px 40px;
    border-radius: 6px;
}

.container h2 {
    font-size: 28px;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    margin-bottom: 5px;
}

.container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.container .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.back {
    text-align: end;
}

.back a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}