.container {
    border: 1px solid blue;
    border-radius: 4px;
    height: 70px;
    background-image: linear-gradient(to right, #0d47a1, #1976d2);
    color: white;
    display: flex;
    align-items: center;
}

.button {
    flex: 1;
    display: flex;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
    }
}

.log {
    margin-right: 20px;
    display: flex;
    gap: 15px;

    a {
        text-decoration: none;
        border: 1px solid white;
        border-radius: 6px;
        padding: 5px;
        color: white;
    }

    a:hover {
        background-color: white;
        color: black;
    }
}

ul {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.book {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

    .group {
        text-decoration: none;
    }
}

.book .group {
    width: calc(25% - 20px);
    text-align: center;
}

.idk {
    height: 50px;
    background-color: gray;
    text-align: center;
}